<div class="d-flex align-items-center justify-content-center">
  <h1 class="m-4 p-4"> Welcome : 
    <% if Current.user %>
      <strong>User name : </strong> <%= Current.user.email %>
       <%= button_to "Logout", log_out_path, method: :delete %>
       <% else %>
       <h2 class="p-4 m-4"><strong>Please Login</strong></h2><br>

    <% end %>
  </h1> 
</div>
<div class="d-flex align-items-center justify-content-center">

</div>
