<form accept-charset="UTF-8" action="/students" method="post">
  <input type="text" name="student[name]" value="dheeraj" />
  <input type="text" name="student[rollno]" value="33" />
  <input type="text" name="student[school]" value="sri vaishanav" />
</form>
