
<h1>Edit Comment -</h1>

<%= form_with model: @comment, url: post_comment_path  do |form| %>

    <div class="mb-3">
    <%= form.label :body %>
    <%= form.text_field :body, class: "form-control", placeholder: "body" %>
    </div>
    <div class="mb-3">
    <%= form.submit "Edit Comment", class:"btn btn-primary" %>
     </div>
<% end %>